@using BookStore.Models
@{
    ViewData["Title"] = "_ViewStart";
    ViewData["Desc"] = "About Us";
}
<h1>This is the about us Page</h1>
@ViewData["Name"]<br/>
@ViewData["Age"]<br/>
@ViewData["Contact"]<br/>

@section sccript{
}